APP_PORT=3000
KAFKA_HOST=kafka
KAFKA_INGESTION_TOPIC=meterReadingIngestionTopic
KAFKA_PROCESSING_TOPIC=dataProcessingTopic
KAFKA_REVIEW_TOPIC=reviewIngestionDataTopic
KAFKA_BACKLOG_TOPIC=dataBacklogDataTopic

DATABASE_HOST=postgres
DATABASE_USER=ecoplanetuser
DATABASE_PASS=RandomPassword@6789
DATABASE_NAME=ecoplanetdb

DATABASE_PORT=5432

INGESTION_API_ENDPOINT=node-service-1
